#section_data {
  width: 40%;
  border: solid black;
  display: inline-flex;
  padding-right: 5px;
}
#section_results {
  width: 40%;
  border: solid black;
  display: inline-flex;
}
table,
th,
td {
  border: 1px solid black;
}

label {
  width: 100px;
}
<<<<<<< HEAD

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: grey;
}
=======
>>>>>>> 2f6a7ab0fd4a635bad260e44eb74c0159e1906de

#section_data .mat-form-field {
  width: 260px;
  height: 50px;
  font-size: 14px;
  padding: 4px;
}

#section_results .mat-form-field {
  width: 100px;
  margin-bottom: -1.25em;
  padding-right: 32px;
}

span {
  display: block;
  padding-top: 20px;
}

.example-right-align {
  text-align: right;
}

table {
  width: 100%;
}
