<body>
  <section class="container">
    <section class="container-img"></section>
    <section class="container-login">
      <form class="example-form" [formGroup]="loginForm">
        <div class="main-text">
          <h1 style="color: black ;">Inicia sesion</h1>
        </div>
        <div class="main-form">
          <mat-form-field appearance="outline" class="main-item">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Email*">
            <mat-error>
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="main-item">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput placeholder="Password" [type]="passwordType">
        <mat-error>
          Password is <strong>required</strong>
        </mat-error>
        <button matSuffix type="button" mat-icon-button>
          <mat-icon (click)="togglePassword()">{{passwordShow ? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
      </mat-form-field>
          <div>
          <button style="width: 150px ; font-size: 15px ;" class="btn-success" type="submit" (click)="submitButton()">
            Iniciar Sesión
          </button>
          <button style="width: 150px ; font-size: 15px ;" class="btn-success" type="button" routerLink="/register">
            Registrate
          </button>
        </div>
        </div>
      </form>
    </section>
  </section>
</body>
