<body>
  <section class="container">
    <section class="container-img"></section>
    <section class="container-login">
      <form
        class="example-form"
        (ngSubmit)="this.registerButton(registerForm.value)"
        [formGroup]="registerForm"
      >
        <div class="main-text">
          <h1>Registrate</h1>
        </div>
        <div class="main-form">
          <div class="container-name">
            <label for=""> Nombres:</label>
            <input
              type="text"
              placeholder="Ingrese Nombres"
              formControlName="nombre"
            />
          </div>
          <div class="container-lastname">
            <label for="">Apellidos:</label>
            <input
              type="text"
              placeholder="Ingrese Apellidos"
              formControlName="apellido"
            />
          </div>
          <div class="container-email">
            <label for="">Email:</label>
            <input
              type="email"
              placeholder="Ingrese Email"
              formControlName="correo"
            />
          </div>
          <div class="container-password">
            <label for="">Contraseña:</label>
            <input
              type="text"
              placeholder="Ingrese contraseña"
              formControlName="contrasenia"
            />
          </div>
          <button
            class="btn-success"
            type="submit"
            [disabled]="!registerForm.valid"
          >
            Registrate
          </button>

          <button
          class="btn-success"
          type="button"
          (click)="home()"
          >
          Atrás
        </button>
        </div>
      </form>
    </section>
  </section>
</body>
