<body>
    <section class="container">
        <section class="container-register">
            <form class="example-form">
                <div class="main-text">
                    <h1> Registrate </h1>
                </div>
                <div class="main-form">
                    <div class="">
                        <label for=""> Nombres:</label>
                        <input type="text" placeholder="Ingrese Nombres">
                    </div>
                    <div class="">
                        <label for="">Apellidos:</label>
                        <input type="text" placeholder="Ingrese Apellidos">
                    </div>
                    <div class="">
                        <label for="">Emal:</label>
                        <input type="email" placeholder="Ingrese Email">
                    </div>
                    <div class="">
                        <label for="">Contraseña:</label>
                            <input type="text" placeholder="Ingrese contraseña">
                    </div>
                
                    <button class="btn-success" type="submit">
                        Registrate
                    </button>
                    <button class="btn-success" routerLink="/">
                        Cancelar
                    </button>
                </div>
            </form>
        </section>
    </section>
</body>